body {
    background: #aaaaaa;
}

h1 .main {
    box-sizing: border-box;
    width: 1000px;
    height: 100px;
    padding: 20px;
}

#lifes {
    box-sizing: padding-box;
    width: 1000px;
    height: 50px;
    padding-top: 20px;
}

canvas {
    border: 10px solid #a04848;
    background: #55517a;
}

footer {
    background: #aaaaaa;
}